*~

# Ignora los productos de latex #
#################################
*.aux
*.bbl
*.blg
cache/*
figure/*
*.log
*.pdf
*.gz
*.tex
*.dvi
*.out
*.sty
*.zip

# Ignora los archivos secundarios de bib #
##########################################
*.sav
*.bak