*~

########## Ignora los productos de latex ##########
*.aux
*.bbl
*.blg
cache/*
*.dvi
figure/*
*.idx
*.ilg
*.ind
*.log
*.pdf
*.gz
*.tex
*.toc
*.out
*.sty
*.zip

########## Ignora los archivos secundarios de bib #########
*.sav
*.bak

########## Ignora los cambios de proyecto de R ##########
*.Rproj
.Rproj.user
.Rhistory

cache-*
figs/
knitr-book.*
*-tikzDictionary